<h1>Hospital: <%= @hospital.name %></h1>

<p>Number of Doctors: <%= @hospital.doctor_count %></p>

<p>Universities Our Doctors Attended:</p>
<ul>
  <% @hospital.unique_universities.each do |university| %>
    <li><%= university %></li>
  <% end %>
</ul>
